<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial");

		@await Component.InvokeAsync("_LayoutSidebarComponentPartial");
		<div class="main-panel">
		@RenderBody();
			@await Component.InvokeAsync("_LayoutFooterComponentPartial");
		</div>
	</div>
	</div>

	
 </body>
@await Component.InvokeAsync("_LayoutScriptsComponenetPartial");
</html>